@import 'placeholders';

body {
    // font-family: $font-helvetica-neue;
    font-family: "Helvetica Neue", "Arial";
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

// NAVBAR
.navbar-mobile__menu-opener {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // position: fixed;
    // z-index: 1;
    background-color: $color-dark-green;
    // opacity: 0.8;
}

.navbar-mobile {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    // width: 0;
    height: 100vh;
    // justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: $color-black;
    opacity: 0.9;
}

.navbar-mobile__top {
    display: flex;
    justify-content: flex-end;
    // background-color: green;
    height: 52px;
    // width: 100%;
}

.navbar-mobile__navbar-list {
    width: 100%;
    // width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-32;
}

.navbar-desktop {
    display: none;
    width: 100%;
    justify-content: center;
    // position: fixed;
    // z-index: 1;
    background-color: $color-dark-green;
    // opacity: 0.8;
}

.navbar-desktop__navbar-list {
    display: flex;
    width: calc(100% - 20px);
    max-width: 700px;
    justify-content: space-between;
    align-items: center;
}

.navbar-list__navbar-item {
    color: $color-white;
}

.navbar-list__shopping-cart-wrapper {
    width: 20px;
}

.navbar-list__shopping-cart {
    width: 16px;
}

// TOP
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // height: 100vh;
    // max-height: 864px;
    background-image: url(../images/top-background.png);
    background-size: cover;
}

.top__menu {
    font-size: $font-30;
    color: $color-white
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.content__logo {
    width: 100%;
    max-width: 640px;
}

// DISH CARD
.category-card {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-light-gray;
    border-radius: 3px;
    margin: 16px;
}

.category-card__header {
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}


// MENU SECTION
.content__menu {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    border-top: 6px solid $color-black;
}

// .menu__content {
//     width: 1100px;
// }

.menu__header {
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
}

.menu__desc {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
    color: $color-gray
}

.menu__content {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 16px;
}

// DISH CARD
.dish-card {
    display: flex;
    justify-content: space-between;
    max-width: 491px;
    margin-bottom: 16px;
    border: 1px solid $color-light-gray;
    border-radius: 3px;
}

.dish-card__img {
    width: 40%;
    object-fit: cover;
}

.dish-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 8px;
}

.dish-card__title {
    font-weight: 600;
    font-size: $font-16;
}

.dish-card__bottom {
    display: flex;
    justify-content: space-between;
}

.dish-card__price {
    font-weight: 600;
}

.dish-card__add-dish-btn {
    background-color: $color-green;
    color: $color-white;
    padding: 5px 8px;
    border-radius: 3px;
}

.shopping-cart-container {
    display: none;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    // opacity: 0.8;
}

.shopping-cart-container__checkout-container {
    background-color: $color-white;
    width: 600px;
}

.shopping-cart-container__title {
    padding-left: 16px;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

.checkout-container__dish-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
}

.checkout-container__total-container {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 30px;
}

.checkout-container__checkout-btn {
    width: 100%;
    padding: 20px 0 20px 20px;
    background-color: $color-green;
    margin-top: 50px;
}

.checkout-container__checkout-txt {
    color: $color-white;
    font-size: 40px;
}

// FOOTER
.footer {
    display: flex;
    justify-content: center;
    background-color: $color-dark-green;
    color: $color-white;
    text-align: center;
}

.footer__footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 355px;
}

@media (min-width: 768px) {

    // NAVBAR
    .navbar-mobile__menu-opener {
        display: none;
    }

    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        display: flex;
    }

    // TOP
    .top__menu {
        font-size: $font-60;
        color: $color-white
    }

    .menu__content {
        grid-template-columns: repeat(auto-fill, minmax(100px, 489px));
        width: 1100px;
        column-gap: 40px;
        padding-top: 60px;
    }

    //DISH CARD
    .dish-card__info {
        grid-template-columns: 491px 491px;
        padding: 16px;
    }

    .dish-card__title {
        font-weight: 600;
        font-size: $font-20;
    }

    .dish-card__price {
        font-weight: 600;
    }
}

@media (min-width: 900px) {}

@media (min-width: 1200px) {}