*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* Fix the bug that causes body go out of screen border and because of that horizontal scrolling. */
/* https://stackoverflow.com/a/42798283/5184474 */
html,
body {
  position: relative;
}

/*
body {
    overflow: auto;
}
*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.text-nowrap {
  white-space: nowrap;
}

.text-wrap {
  white-space: normal;
}

.p-16 {
  padding: 16px;
}

.pv-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pv-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pv-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ph-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.pt-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pb-80 {
  padding-bottom: 80px;
}

body {
  font-family: "Helvetica Neue", "Arial";
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.navbar-mobile__menu-opener {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #004100;
}

.navbar-mobile {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: #151515;
  opacity: 0.9;
}

.navbar-mobile__top {
  display: flex;
  justify-content: flex-end;
  height: 52px;
}

.navbar-mobile__navbar-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
}

.navbar-desktop {
  display: none;
  width: 100%;
  justify-content: center;
  background-color: #004100;
}

.navbar-desktop__navbar-list {
  display: flex;
  width: calc(100% - 20px);
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
}

.navbar-list__navbar-item {
  color: #ffffff;
}

.navbar-list__shopping-cart-wrapper {
  width: 20px;
}

.navbar-list__shopping-cart {
  width: 16px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../images/top-background.png);
  background-size: cover;
}

.top__menu {
  font-size: 30px;
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.content__logo {
  width: 100%;
  max-width: 640px;
}

.category-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  margin: 16px;
}

.category-card__header {
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.content__menu {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  border-top: 6px solid #151515;
}

.menu__header {
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu__desc {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #9F9F9F;
  border-bottom: 1px solid #9F9F9F;
  color: #9F9F9F;
}

.menu__content {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 16px;
}

.dish-card {
  display: flex;
  justify-content: space-between;
  max-width: 491px;
  margin-bottom: 16px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}

.dish-card__img {
  width: 40%;
  object-fit: cover;
}

.dish-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 8px;
}

.dish-card__title {
  font-weight: 600;
  font-size: 16px;
}

.dish-card__bottom {
  display: flex;
  justify-content: space-between;
}

.dish-card__price {
  font-weight: 600;
}

.dish-card__add-dish-btn {
  background-color: #65DB30;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 3px;
}

.shopping-cart-container {
  display: none;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.shopping-cart-container__checkout-container {
  background-color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #004100;
  color: #ffffff;
  text-align: center;
}

.footer__footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 355px;
}

@media (min-width: 768px) {
  .navbar-mobile__menu-opener {
    display: none;
  }

  .navbar-mobile {
    display: none;
  }

  .navbar-desktop {
    display: flex;
  }

  .top__menu {
    font-size: 60px;
    color: #ffffff;
  }

  .menu__content {
    grid-template-columns: repeat(auto-fill, minmax(100px, 489px));
    width: 1100px;
    column-gap: 40px;
    padding-top: 60px;
  }

  .dish-card__info {
    grid-template-columns: 491px 491px;
    padding: 16px;
  }

  .dish-card__title {
    font-weight: 600;
    font-size: 20px;
  }

  .dish-card__price {
    font-weight: 600;
  }
}

/*# sourceMappingURL=main.css.map */
