// Colors
$color-white: #ffffff;
$color-light-gray: #E5E5E5;
$color-gray: #9F9F9F;
$color-black: #151515;
$color-green: #65DB30;
$color-dark-green: #004100;

// Font sizes
$font-30: 30px;
$font-60: 60px;

$font-14: 14px;
$font-16: 16px;
$font-20: 20px;
$font-22: 22px;
$font-34: 34px;
$font-27: 27px;
$font-32: 32px;
$font-44: 44px;

// Line heights
$line-height-120: 120%;
$line-height-120: 150%;

// Font family
$font-helvetica-neue: 'Helvetica Neue';

// Border radius
$border-rounded: 6px;